/*stylesheet.css
*/

body{
    background-image: url("/imgs/INACTIVE.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size:cover;
}

#dronetext{
  color:red;
}
